{% extends '../layout.njk' %}

{% block content %}

<main>
  <div class="card">
    <section
      class="avatar"
      style="background: url({{ student.avatar_url }}) no-repeat center center / cover"
    >
    </section>

    <section class="details">
      <h3>Aluno</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Série</div>
        <div>{{ student.grade }}º ano</div>
      </div>

      <div class="item">
        <div>Carga horária</div>
        <div>{{ student.time_load }} horas</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ student.age }}</div>
      </div>

      <a class="button" href="/students/{{ student.id }}/edit">Editar</a>
    </section>
  </div>
</main>

{% endblock %}