{% extends '../layout.njk' %}

{% block content %}

<main>
  <div class="card">
    <section
      class="avatar"
      style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"
    >
    </section>

    <section class="details">
      <h3>Professor</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{ teacher.name }} </div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ teacher.age }}</div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>{{ teacher.educational_level }}</div>
      </div>

      <div class="item">
        <div>Tipos de aula</div>
        <div>{{ teacher.type }}</div>
      </div>

      <div class="item">
        <div>Matérias</div>
        <div>
          {% for subject in teacher.subjects %}
            <span>{{ subject }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ teacher.created_at }}</div>
      </div>

      <a class="button" href="/teachers/{{ teacher.id }}/edit">Editar</a>
    </section>
  </div>
</main>

{% endblock %}